.navbar {
    padding: 1rem 5%;
    background: var(--white);
    border-bottom: 2px solid var(--secondary-color);
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: flex; /* Cambiamos a flex para que los <span> se acomoden */
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: var(--primary-color);
    display: block; /* Asegura que se vean */
}

/* Estilos para los links dentro del nav */
.nav-links li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent; /* Necesario para la animación */
}

/* Efecto Hover */
.nav-links li a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        margin-top: 1rem;
        list-style: none;
    }

    .nav-links.open {
        display: flex; /* Se despliega debajo del header */
    }
}

@media (min-width: 769px) {
    .navbar { display: flex; justify-content: space-between; align-items: center; }
    .nav-header { display: contents; } /* Ignora el wrapper en escritorio */
    .hamburger { display: none; }
    .nav-links { display: flex; list-style: none; gap: 24px; }
}