:root {
  /* Colores según requisitos (Marrón dorado elegante) */
  --primary-color: #6f4e37;
  --secondary-color: #d4af37;
  --bg-color: #fdfbf7;
  --text-color: #333333;
  --white: #ffffff;

  /* Tipografía */
  --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main), sans-serif;
  line-height: 1.6;
}

/* Base de navegación para que el Navbar que haremos se vea bien */
a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

/* Laptop: hasta 1024px */
@media (min-width: 1024px) {
  :root {
    font-size: 20px;
  }
}

/* Desktop: pantallas grandes */
@media (min-width: 1440px) {
  :root {
    font-size: 22px;
  }
}